@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}

@layer utilities {
  .sc-shadow { 
    box-shadow: 0px 4px 12px rgba(0,0,0, 0.03); 
  }
}

::-webkit-scrollbar { 
  width: 6px; 
  height: 6px;
}
::-webkit-scrollbar-track { 
  background: transparent; 
}
::-webkit-scrollbar-thumb { 
  background: #cbd5e1; 
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover { 
  background: #94a3b8; 
}

/* Base body background fallback */
body {
  background-color: #f8f9ff;
}
